body{
    font-family: 'Caveat', cursive;
     background-color:  #FFF3D6 ;
}
  
h1{
    color: white;
 font-size: 20px;
 text-align: center;
 background-color: #F15156;
 border-radius: 20px;
 height: 35px;
}
.Tigruio {
    display: flex;
    justify-content: space-around;
    align-items: start;
  }
  
  .Tigrqw {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.qwerty{
    background-color: #F9C5D1;
    border-radius: 10px;
    
}

.asdf{
    border: 2px #03045E solid;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    background-color: #F9C5D1 ;
}

.pic{
    width: 450px;
   
}

.qwertyh{
    background-color: #F9C5D1;
    border-radius: 10px;
    width: 120px;
}

.asdfg{
    border: 2px #03045E solid;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    width: 290px;
}

.pics{
    width: 450px;
}

a{
    color: #4CBB9B;
    text-decoration: none;
}

.Tigru {
    display: flex;
    justify-content: space-around;
    align-items: start;
  }
  
  .Tigr {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Tigr p {
    width: 200px;
    height: 200px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  .Tigr img {
    width: 200px;
  }

  .yevae{
    font-size: 25px;
   color: white;
  }
  
  .we {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    background-color:#4CBB9B;
    border-radius:20px ;
  }
  
  .quotes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .yevae {
    font-size: 18px;
  }
  
  h2 {
    color:white;
    margin: 0;
  }
  
  .logo {
    max-width: 280px;
    height: auto;
  }
