body{
    font-family: 'Caveat', cursive;
    background: linear-gradient(to bottom, #03045E, #0077B6, #00B4D8, #90E0EF, #CAF0F8);
}

h1{
    font-size: 30px;
    text-align: center;
    background-color:  #90E0EF;
    border-radius: 20px;
    height: 45px;
   }

   h2{
   background-color: #0077B6;
    border-radius: 10px;
    width: 80px;
}

.qwerty{
    text-align: center;
    font-size: 30px;
    background-color: #90E0EF;
    width: 500px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: #90E0EF;
}

.zxcvb{
    text-align: center;
}

.yevae{
    font-size: 25px;
   color: #90E0EF;
  }
  
  .we {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    background-color:#03045E;
    border-radius:20px ;
  }
  
  .quotes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .yevae {
    font-size: 18px;
  }
  
