body{
  font-family: 'Caveat', cursive;
}

header {
    background-color: #F15156; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  color: white;
    
}

header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: white;
}

header nav {
    display: flex;
    gap: 20px;
    color: white;
}

header a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.osnovatext{
    font-size: 23px;
    text-align: center;
    background-color:#d6d6d6;
    border-radius: 20px;
}

.yevae{
  font-size: 25px;
 
}

.we {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  background-color:#d6d6d6;
  border-radius:20px ;
}

.quotes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.yevae {
  font-size: 18px;
}

h2 {
  color: red;
  margin: 0;
}

.logo {
  max-width: 280px;
  height: auto;
  background-color: #F9C5D1;
}

.Tigru {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.Tigr {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tigr p {
  width: 200px;
  height: 200px;
  background-color: #F9C5D1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.Tigr img {
  width: 200px;
}
